.App {
  height: 100vh;
  width: 100vw;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  padding: 64px 112px 64px 112px;
}

.main-section {
  height: 100%;
  width: 100%;
  border-radius: 0px;
  padding: 0px 32px 0px 32px;
}

.App__content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 56px;
  border-radius: 0px;
}
